<% include partials/header %>
<% include partials/navbar %>

<%= user %>
<div class="row">
	<div class="col-md-4 col-xs-12 sign_up_card">
		<div class="card">
			<div class="card-body">
				<h1 class="text-center">Edit Account</h1>
				<div class = "form-group">
					<label for="formGroupExampleInput" class="bmd-label-floating">First Name</label>
                    <input class = "form-control" required="" name = "FirstName" placeholder = "Firstname" value="<%= user.details.firstname %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Last Name</label>
                    <input class = "form-control" required="" name = "Lastname" placeholder = "Lastname" value="<%= user.details.lastname %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Email</label>
                    <input class = "form-control" required="" name = "Email" placeholder = "Email" value="<%= user.username %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Hair Colour</label>
                    <input class = "form-control" required="" name = "Hair" placeholder = "Hair" value="<%= user.details.haircolor %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Eye Colour</label>
                    <input class = "form-control" required="" name = "Eyes" placeholder = "Eyes" value="<%= user.details.eyecolour %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Height</label>
                    <input class = "form-control" required="" name = "Height" placeholder = "Height" value="<%= user.details.Height %>">
                </div>
                <div class = "form-group">
                	<label for="formGroupExampleInput" class="bmd-label-floating">Shoe</label>
                    <input class = "form-control" required="" name = "Shoe" placeholder = "Shoe" value="<%= user.details.shoe %>">
                </div>
                <div class = "form-group">
                    <button class = "btn btn-raised btn-success btn-block">Save Details</button>
                </div>
			</div>
		</div>
	</div>
</div>