<% include partials/header %>
<% include partials/navbar %>

<div class="row">
	<div class="col-md-4 col-xs-12 sign_up_card">
		<div class="card">
			<div class="card-body">
                <h1 class="text-center">Edit Account</h1>
                <form action="/update_details/<%= user.uid %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">First Name</label>
                        <input class = "form-control" required="" name = "FirstName" placeholder = "Firstname" value="<%= user.details.firstname %>">
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Last Name</label>
                        <input class = "form-control" required="" name = "LastName" placeholder = "Lastname" value="<%= user.details.lastname %>">
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Email</label>
                        <input class = "form-control" required="" name = "Email" placeholder = "Email" value="<%= user.username %>">
                    </div>
                    <div class="form-group">
                        <label>Artist Type</label>
                        <select class="form-control" id="ArtistType" name="Artist">
                            <option>Actor</option>
                            <option>Model</option>
                            <option>Singer</option>
                            <option>Musician</option>
                            <option>Painter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Gender</label>
                        <select class="form-control" id="Gender" name="Gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Hair Colour</label>
                        <input class = "form-control" required="" name = "Hair" placeholder = "Hair" value="<%= user.details.haircolor %>">
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Eye Colour</label>
                        <input class = "form-control" required="" name = "Eyes" placeholder = "Eyes" value="<%= user.details.eyecolor %>">
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Height</label>
                        <input class = "form-control" required="" name = "Height" placeholder = "Height" value="<%= user.details.height %>">
                    </div>
                    <div class = "form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Shoe</label>
                        <input class = "form-control" required="" name = "Shoe" placeholder = "Shoe" value="<%= user.details.shoe %>">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Picture</label>
                        <img src="<%= user.details.picture %>" class="img-thumbnail edit_thumb">
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <label for="custom-file-label">Change image</label>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="form-control-file" id="exampleFormControlFile1" name="image">
                            <input type="hidden" name="existing_img" value="<%= user.details.picture %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Youtube Link</label>
                        <input class = "form-control" required="" name = "ytlink" placeholder = "Youtube Link" value="<%= user.details.ytlink %>">
                    </div>
                    <div class = "form-group">
                        <button class = "btn btn-raised btn-success btn-block">Save Details</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>