<% include partials/header %>




<div class="row card_catalogue">
	<% artists.forEach(function(artist) { %>
	<div class="col-md-3 col-xs-12 each_card">
		<div class="card">
			<img class="card-img-top" src="<%= artist.details.picture %>" onerror="this.src='https://via.placeholder.com/450';" alt="Card image cap">
			<div class="card-body">
			<h5 class="card-title"><%= artist.details.firstname %> <%= artist.details.lastname %></h5>
			<p class="card-text"><%= artist.details.artist %></p>
			<a href="/profile/<%= artist._id %>" class="btn btn-primary">View <%= artist.details.firstname %>'s Profile</a>
			</div>
		</div>
	</div>
	<% }); %>
</div>